In [51]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# plt.rcParams.update(params)
plt.style.use('seaborn-darkgrid')
plt.rc('font',family='Times New Roman',size=24)
sns.set_style('ticks',{'xtick.direction':'in','ytick.direction':'in',
                       'xtick.major.size':8,'ytick.major.size':8,'xtick.minor.size':5,
                       'ytick.minor.size':5})
%matplotlib inline

In [52]:
import random
from scipy.stats import norm
from scipy.stats import multivariate_normal
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [53]:
T = 10000
s = 0.5
theta_mu_orig = [11.5,19.5,15.87,5.97]
theta_std_orig = [1.63,3.46,2.31,0.69]
theta_sigma=np.diag(theta_std_orig)
thetamax = []
for i  in range(0,4):
    scale_max = theta_mu_orig[i]+5*theta_std_orig[i] 
    thetamax.append(scale_max)
thetamin =[0 for i  in range(0,4)]
theta = np.zeros((4,T+1))
np.random.seed(10)

In [54]:
for i in range(0,4):
    theta[i,0] = random.uniform(thetamin[i],thetamax[i])

In [55]:
rsm_df = pd.read_excel('rsm_res.xlsx')
rsm_df

,Coef,T27_tilt,T27_brace,T29_tilt,T29_brace,T31_tilt,T31_brace,T02_tilt,T02_brace,T04_tilt,T04_brace,T06_tilt,T06_brace,T08_tilt,T08_brace
0,A0,-56.519933,-9.712226,-56.519900,21.476700,-56.519933,21.942629,-44.266300,21.942629,-9.045795e-01,22.741316,3.030785e+01,21.476800,3.030780e+01,20.674300
1,A11,4.639335,0.551075,4.639330,-0.445400,4.639335,1.400417,2.228900,1.400417,-5.104603e-01,-0.430135,-4.601227e-01,-0.445496,-4.601000e-01,-0.513700
2,A12,0.502439,0.098029,0.502400,-0.529200,0.502439,0.081664,0.401900,0.081664,1.387779e-17,-0.511022,-7.192021e-01,-0.529271,-7.192000e-01,-0.456100
3,A13,2.230562,0.722923,2.230500,-0.118700,2.230562,-0.511908,1.784400,-0.511908,1.057196e+00,-0.427519,-7.716050e-15,-0.118736,-7.716000e-15,-0.059200
4,A14,4.158790,1.609313,4.158700,-2.609500,4.158790,-8.087687,6.654000,-8.087687,1.110223e-16,-2.519615,-5.245747e+00,-2.609592,-5.245700e+00,-2.571200
5,A21,-0.211713,-0.037512,-0.211700,0.003000,-0.211713,-0.075059,-0.112900,-0.075059,-2.775558e-16,0.002950,6.938894e-18,0.003056,6.938800e-18,0.006200
6,A22,-0.015662,-0.006134,-0.015600,0.009800,-0.015662,-0.002984,-0.012500,-0.002984,-4.336809e-19,0.009526,1.566207e-02,0.009866,1.560000e-02,0.008200
7,A23,-0.070276,-0.018116,-0.070200,0.006500,-0.070276,0.011933,-0.056200,0.011933,-3.898214e-02,0.017857,2.445960e-16,0.006546,2.445900e-16,0.004600
8,A24,-0.393825,-0.208550,-0.393800,0.152000,-0.393825,0.692547,-0.630100,0.692547,0.000000e+00,0.146798,3.938248e-01,0.152041,3.938000e-01,0.142900
9,mu_observed,0.009222,42.155556,0.013222,51.396970,0.014222,50.816539,0.016889,48.816539,1.688889e-02,49.508081,1.722222e-02,51.396970,1.722222e-02,53.461681
10,scale_observed,0.000667,3.336166,0.000667,1.960488,0.000667,1.899290,0.000601,1.899290,6.009252e-04,2.030498,6.666667e-04,1.960488,6.666667e-04,1.996555
11,observed,0.004000,37.000000,0.012000,48.000000,0.010000,44.000000,0.008000,44.000000,1.400000e-02,48.000000,1.900000e-02,50.000000,1.600000e-02,44.000000

In [56]:
rsm_df.shape

(12, 15)

In [57]:
rsm_df.columns

Index(['Coef', 'T27_tilt', 'T27_brace', 'T29_tilt', 'T29_brace', 'T31_tilt',
       'T31_brace', 'T02_tilt', 'T02_brace', 'T04_tilt', 'T04_brace',
       'T06_tilt', 'T06_brace', 'T08_tilt', 'T08_brace'],
      dtype='object')

In [58]:
coef_df=rsm_df.iloc[0:9]
coef_df

,Coef,T27_tilt,T27_brace,T29_tilt,T29_brace,T31_tilt,T31_brace,T02_tilt,T02_brace,T04_tilt,T04_brace,T06_tilt,T06_brace,T08_tilt,T08_brace
0,A0,-56.519933,-9.712226,-56.51990,21.4767,-56.519933,21.942629,-44.2663,21.942629,-9.045795e-01,22.741316,3.030785e+01,21.476800,3.030780e+01,20.6743
1,A11,4.639335,0.551075,4.63933,-0.4454,4.639335,1.400417,2.2289,1.400417,-5.104603e-01,-0.430135,-4.601227e-01,-0.445496,-4.601000e-01,-0.5137
2,A12,0.502439,0.098029,0.50240,-0.5292,0.502439,0.081664,0.4019,0.081664,1.387779e-17,-0.511022,-7.192021e-01,-0.529271,-7.192000e-01,-0.4561
3,A13,2.230562,0.722923,2.23050,-0.1187,2.230562,-0.511908,1.7844,-0.511908,1.057196e+00,-0.427519,-7.716050e-15,-0.118736,-7.716000e-15,-0.0592
4,A14,4.158790,1.609313,4.15870,-2.6095,4.158790,-8.087687,6.6540,-8.087687,1.110223e-16,-2.519615,-5.245747e+00,-2.609592,-5.245700e+00,-2.5712
5,A21,-0.211713,-0.037512,-0.21170,0.0030,-0.211713,-0.075059,-0.1129,-0.075059,-2.775558e-16,0.002950,6.938894e-18,0.003056,6.938800e-18,0.0062
6,A22,-0.015662,-0.006134,-0.01560,0.0098,-0.015662,-0.002984,-0.0125,-0.002984,-4.336809e-19,0.009526,1.566207e-02,0.009866,1.560000e-02,0.0082
7,A23,-0.070276,-0.018116,-0.07020,0.0065,-0.070276,0.011933,-0.0562,0.011933,-3.898214e-02,0.017857,2.445960e-16,0.006546,2.445900e-16,0.0046
8,A24,-0.393825,-0.208550,-0.39380,0.1520,-0.393825,0.692547,-0.6301,0.692547,0.000000e+00,0.146798,3.938248e-01,0.152041,3.938000e-01,0.1429

In [59]:
mu_df=rsm_df.iloc[[9]]
mu_df

,Coef,T27_tilt,T27_brace,T29_tilt,T29_brace,T31_tilt,T31_brace,T02_tilt,T02_brace,T04_tilt,T04_brace,T06_tilt,T06_brace,T08_tilt,T08_brace
9,mu_observed,0.009222,42.155556,0.013222,51.39697,0.014222,50.816539,0.016889,48.816539,0.016889,49.508081,0.017222,51.39697,0.017222,53.461681

In [60]:
scale_df=rsm_df.iloc[[10]]
scale_df

,Coef,T27_tilt,T27_brace,T29_tilt,T29_brace,T31_tilt,T31_brace,T02_tilt,T02_brace,T04_tilt,T04_brace,T06_tilt,T06_brace,T08_tilt,T08_brace
10,scale_observed,0.000667,3.336166,0.000667,1.960488,0.000667,1.89929,0.000601,1.89929,0.000601,2.030498,0.000667,1.960488,0.000667,1.996555

In [61]:
observed_df=rsm_df.iloc[[11]]
observed_df

,Coef,T27_tilt,T27_brace,T29_tilt,T29_brace,T31_tilt,T31_brace,T02_tilt,T02_brace,T04_tilt,T04_brace,T06_tilt,T06_brace,T08_tilt,T08_brace
11,observed,0.004,37.0,0.012,48.0,0.01,44.0,0.008,44.0,0.014,48.0,0.019,50.0,0.016,44.0

In [62]:
def rsm_fuction(theta_start,coef):
    theta_merge = np.hstack((theta_start,theta_start**2))
    delta_tilt = np.sum(coef[:,0][1:]*theta_merge)+coef[:,0][0]
    delta_brace = np.sum(coef[:,1][1:]*theta_merge)+coef[:,1][0]
    return np.array([delta_tilt,delta_brace])

In [63]:
def predict_rsm(theta_start,coef,mu,scale):
    theta_merge = np.hstack((theta_start,theta_start**2))
    predict_deflection_scale= np.sum(coef[:,0][1:]*theta_merge)+coef[:,0][0]
    predict_strain_scale= np.sum(coef[:,1][1:]*theta_merge)+coef[:,1][0]
    response_predict_scale =np.array([predict_deflection_scale,predict_strain_scale])
    response_predict = response_predict_scale*scale+mu
    return response_predict

In [64]:
coef_29 = coef_df[['T29_tilt','T29_brace']].values
mu_29=mu_df[['T29_tilt','T29_brace']].values
scale_29 = scale_df[['T29_tilt','T29_brace']].values

In [65]:
mu_c=np.array([0,0])
scale_c = np.array([[1,0],[0,1]])

In [66]:
y_observed_27=observed_df[['T27_tilt','T27_brace']].values
coef_27 = coef_df[['T27_tilt','T27_brace']].values
mu_27 = mu_df[['T27_tilt','T27_brace']].values
scale_27 = scale_df[['T27_tilt','T27_brace']].values

In [67]:
def post_dist(theta_start,y_observed,mu,scale,coef,
              theta_mu=theta_mu_orig,theta_sigma=theta_sigma,mu_c = mu_c,scale_c =scale_c):
    prior_pdf_theta = multivariate_normal.pdf(theta_start,theta_mu,theta_sigma)
    y_observed_scale = (y_observed-mu)/scale
    c_bias = y_observed_scale-rsm_fuction(theta_start,coef)
    likelihood_pdf = multivariate_normal.pdf(c_bias,mu_c,scale_c)
    return  likelihood_pdf*prior_pdf_theta

In [68]:

t = 0
while t<T:
    t =t+1
    theta_start = np.random.multivariate_normal(theta[:,t-1],s*theta_sigma)
    p1 = post_dist(theta_start,y_observed_27,mu_27,scale_27,
                      coef_27)
    p2=post_dist(theta[:,t-1],y_observed_27,mu_27,scale_27,
                      coef_27)
    if p2:
        r = p1/  p2
        alpha = min(1,r)
        u = random.uniform(0,1)
        if u<alpha:
            theta[:,t] = theta_start
        else:
            theta[:,t] = theta[:,t-1]

In [69]:
theta_update_27 = np.zeros(4)
theta_update_sigma_27 = theta_sigma
for  i  in range(4):
    print(np.mean(theta[i,1000:]),np.std(theta[i,1000:]))
    theta_update_27[i]=np.mean(theta[i,1000:])
    theta_update_sigma_27[i,i] = np.std(theta[i,1000:])

15.27093179571933 3.3057868345977006
19.681389427877225 1.945666577702055
16.425266426778837 2.0458359724703468
6.233586833707598 1.2096717541600635

In [70]:
times = np.arange(T+1)
theta0 = np.zeros((4,T+1))
for i  in range(0,T+1):
    theta0[:,i] = np.random.multivariate_normal(theta_mu_orig,theta_sigma)

In [71]:
plt.rc('font',family='Times New Roman',size=24)
sns.set_style('ticks',{'xtick.direction':'in','ytick.direction':'in',
                       'xtick.major.size':8,'ytick.major.size':8})
sns.axes_style({'legend.frameon':True})
sns.set_style("darkgrid")
sns.despine(top=False,right=False)

In [72]:

sns.set_style("whitegrid")
plt.figure(figsize=(15,10))
plt.plot(times[1000:],theta[0,1000:],'r-',label = '1st update trace')
from matplotlib.ticker import FuncFormatter
# def to_sci_notation(temp,position):
#     return '%1.0f'%(temp) + '×'+'$10^4$'
# plt.gca().xaxis.set_major_formatter(FuncFormatter(to_sci_notation))

In [73]:
sns.set_style("darkgrid")
plt.figure(figsize=(10,10))
sns.distplot(theta0[1,1000:],bins=12,color = 'red',label='Original',
             hist_kws={ "linewidth": 2,'edgecolor':'white'})
sns.distplot(theta[1,1000:],bins=12,color = 'royalblue',label='Updated1', 
             hist_kws={"linewidth": 2,'edgecolor':'white'})
plt.legend(loc='upper right',frameon=True,edgecolor='k',fancybox=0,fontsize=15,
          handlelength=5,handleheight=3,borderpad=0.5)

In [74]:
coef_27 = coef_df[['T27_tilt','T27_brace']].values
mu_27 = mu_df[['T27_tilt','T27_brace']].values
scale_27 = scale_df[['T27_tilt','T27_brace']].values

In [75]:
predict_res = predict_rsm(np.array(theta_mu_orig),coef_27,mu_27,scale_27)
predict_res

array([[1.000e-02, 4.325e+01]])

In [76]:
predict_res[0,1]

43.25

In [77]:
cols = [['T27_tilt','T27_brace'],['T29_tilt','T29_brace'],['T31_tilt','T31_brace'],
     ['T02_tilt','T02_brace'], ['T04_tilt','T04_brace'], ['T06_tilt','T06_brace'],
      ['T08_tilt','T08_brace']]

In [78]:
Predict = pd.DataFrame()

In [79]:

predict_tilt_orig = []
predict_brace_orig = []
for col in cols:
    coef = coef_df[col].values
    mu = mu_df[col].values
    scale = scale_df[col].values
    predict_res = predict_rsm(np.array(theta_mu_orig),coef,mu,scale)
    predict_tilt_orig.append(predict_res[0,0])
    predict_brace_orig.append(predict_res[0,1])

In [80]:
Predict['tilt_orig'] = predict_tilt_orig
Predict['brace_orig']=predict_brace_orig
Predict

   tilt_orig  brace_orig
0   0.010000   43.250000
1   0.014029   50.907638
2   0.015000   50.549384
3   0.017460   48.549384
4   0.017000   48.989975
5   0.017000   50.989975
6   0.016984   53.008180

In [81]:
theta_day = np.zeros((8,4,T+1))

In [82]:
theta_day[0] =theta0

In [83]:
theta_update = np.zeros((8,4))
theta_update[0] = theta_mu_orig

In [84]:
theta_update_sigma = np.zeros((8,4,4))
theta_update_sigma[0] = theta_sigma

In [85]:
Predict_columns = ['tilt_orig', 'brace_orig', 'tilt_after27', 'brace_after27',
       'tilt_after29', 'brace_after29', 'tilt_after31', 'brace_after31','tilt_after02','brace_after02',
                  'tilt_after04','brace_after04','tilt_after06','brace_after06',
                   'tilt_after08','brace_after08']

In [86]:
cols

[['T27_tilt', 'T27_brace'],
 ['T29_tilt', 'T29_brace'],
 ['T31_tilt', 'T31_brace'],
 ['T02_tilt', 'T02_brace'],
 ['T04_tilt', 'T04_brace'],
 ['T06_tilt', 'T06_brace'],
 ['T08_tilt', 'T08_brace']]

In [87]:
for time in range(1,7):
    
    theta_tmp = np.zeros((4,T+1))
    theta_tmp[:,0]=theta_update[time-1]
    col = cols[time-1]
    y_observed_tmp=observed_df[col].values
    coef_tmp = coef_df[col].values
    mu_tmp = mu_df[col].values
    scale_tmp= scale_df[col].values
    theta_update_tmp = theta_update[time-1]
    theta_update_sigma_tmp = theta_update_sigma[time-1]
    
    t = 0
    while t<T:
        t =t+1
        theta_start = np.random.multivariate_normal(theta_tmp[:,t-1],s*theta_update_sigma_tmp)
        p1 = post_dist(theta_start,y_observed_tmp,mu_tmp,scale_tmp,
                          coef_tmp,theta_update_tmp,theta_update_sigma_tmp)
        p2=post_dist(theta_tmp[:,t-1],y_observed_tmp,mu_tmp,scale_tmp,
                           coef_tmp,theta_update_tmp,theta_update_sigma_tmp)
        if p2:
            r = p1/  p2
            alpha = min(1,r)
            u = random.uniform(0,1)
            if u<alpha:
                theta_tmp[:,t] = theta_start
            else:
                theta_tmp[:,t] = theta_tmp[:,t-1]
    theta_update_tmp = np.zeros(4)
    theta_update_sigma_tmp = theta_sigma
    print('////////////////////////////////////')
    print('this is the %d update'%time)
    for  i  in range(4):
        
        print(np.mean(theta_tmp [i,1000:]),np.std(theta_tmp[i,1000:]))
        theta_update_tmp[i]=np.mean(theta_tmp [i,1000:])
        theta_update_sigma_tmp[i,i] = np.std(theta_tmp [i,1000:])
    
    
    theta_day[time]=theta_tmp 
    theta_update[time]=theta_update_tmp
    theta_update_sigma[time] = theta_update_sigma_tmp    
    
    cols_after_tmp =cols[time:]
    predict_tilt_after_tmp=[None]*time
    predict_brace_after_tmp=[None]*time
    for col_rest in cols_after_tmp:
        coef = coef_df[col_rest].values
        mu = mu_df[col_rest].values
        scale = scale_df[col_rest].values
        predict_res = predict_rsm(theta_update_tmp,coef,mu,scale)
        predict_tilt_after_tmp.append(predict_res[0,0])
        predict_brace_after_tmp.append(predict_res[0,1])
        tilt_cols_pre =  Predict_columns[2*time]
        brace_cols_pre =  Predict_columns[2*time+1]
    Predict[tilt_cols_pre] = predict_tilt_after_tmp
    Predict[ brace_cols_pre]=predict_brace_after_tmp

////////////////////////////////////
this is the 1 update
16.925837656573695 0.5331931297781857
19.458858395591783 1.4142065524596181
16.133581618289828 1.5465639406599452
5.221249823823627 1.2043263868444922
////////////////////////////////////
this is the 2 update
15.523335534963248 0.4124736599709138
19.328299022482707 1.2118448525990368
16.00094045307925 1.0622891882179324
5.505483649989213 0.5838254799647772
////////////////////////////////////
this is the 3 update
16.467828973345977 0.35831625677723544
19.482917245977433 1.1235297409797655
16.069980755152724 1.091753758240365
5.770781943337211 0.6651399611497176
////////////////////////////////////
this is the 4 update
18.35595683004599 0.3742501891752757
19.658431714532274 1.101852325547378
16.33934011069029 1.095176343196488
8.386739396705662 0.19006337925620356
////////////////////////////////////
this is the 5 update
18.263473136830278 0.5968360241230216
19.270135426240156 1.1134681443450662
17.314531271478252 1.1073303109307306
8.366806896281501 0.4810015512078583
////////////////////////////////////
this is the 6 update
17.49638343184581 0.7607995659852023
18.810230884168174 1.0079653964514124
17.544356295174133 1.026206240122607
10.098837206673561 0.38546180917419637

In [88]:
Predict

,tilt_orig,brace_orig,tilt_after27,brace_after27,tilt_after29,brace_after29,tilt_after31,brace_after31,tilt_after02,brace_after02,tilt_after04,brace_after04,tilt_after06,brace_after06
0,0.010000,43.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.014029,50.907638,0.009167,48.468456,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.015000,50.549384,0.010136,43.410662,0.012221,45.853281,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.017460,48.549384,0.014442,41.410662,0.015641,43.853281,0.014776,41.890717,NaN,NaN,NaN,NaN,NaN,NaN
4,0.017000,48.989975,0.015305,46.596714,0.015751,47.001780,0.015454,45.868283,0.014841,42.302432,NaN,NaN,NaN,NaN
5,0.017000,50.989975,0.015757,48.566561,0.016004,48.987207,0.015560,47.845703,0.015544,44.246478,0.015582,44.614067,NaN,NaN
6,0.016984,53.008180,0.015741,50.863045,0.015988,51.161406,0.015544,50.027951,0.015527,46.043708,0.015566,46.395959,0.018179,47.255205

In [381]:
Predict.to_excel('predict_daily.xls')

In [93]:
Predict_tilt_columns = ['tilt_orig', 'tilt_after27', 
       'tilt_after29', 'tilt_after31', 'tilt_after02',
                  'tilt_after04','tilt_after06'
                   ]

In [94]:
Predict_brace_columns = [ 'brace_orig', 'brace_after27',
       'brace_after29',  'brace_after31','brace_after02',
                  'brace_after04','brace_after06',
                  ]

In [95]:
time_df = pd.read_excel('time.xlsx')
time = time_df.Time

In [96]:
pre_brace = Predict[Predict_brace_columns]
pre_brace.index =time
pre_brace

,brace_orig,brace_after27,brace_after29,brace_after31,brace_after02,brace_after04,brace_after06
Time,,,,,,,
2018-05-27 12:02:00,43.250000,NaN,NaN,NaN,NaN,NaN,NaN
2018-05-29 12:02:00,50.907638,48.468456,NaN,NaN,NaN,NaN,NaN
2018-05-31 12:02:00,50.549384,43.410662,45.853281,NaN,NaN,NaN,NaN
2018-06-02 12:02:00,48.549384,41.410662,43.853281,41.890717,NaN,NaN,NaN
2018-06-04 12:02:00,48.989975,46.596714,47.001780,45.868283,42.302432,NaN,NaN
2018-06-06 12:02:00,50.989975,48.566561,48.987207,47.845703,44.246478,44.614067,NaN
2018-06-08 12:03:00,53.008180,50.863045,51.161406,50.027951,46.043708,46.395959,47.255205

In [97]:
pre_brace.to_excel('pre_brace.xls')

In [98]:
pre_tilt = Predict[Predict_tilt_columns]
pre_tilt.index =time
pre_tilt

,tilt_orig,tilt_after27,tilt_after29,tilt_after31,tilt_after02,tilt_after04,tilt_after06
Time,,,,,,,
2018-05-27 12:02:00,0.010000,NaN,NaN,NaN,NaN,NaN,NaN
2018-05-29 12:02:00,0.014029,0.009167,NaN,NaN,NaN,NaN,NaN
2018-05-31 12:02:00,0.015000,0.010136,0.012221,NaN,NaN,NaN,NaN
2018-06-02 12:02:00,0.017460,0.014442,0.015641,0.014776,NaN,NaN,NaN
2018-06-04 12:02:00,0.017000,0.015305,0.015751,0.015454,0.014841,NaN,NaN
2018-06-06 12:02:00,0.017000,0.015757,0.016004,0.015560,0.015544,0.015582,NaN
2018-06-08 12:03:00,0.016984,0.015741,0.015988,0.015544,0.015527,0.015566,0.018179

In [490]:
pre_tilt.to_excel('pre_tilt.xls')

In [103]:
type(theta_day)
np.save("theta_day.npy",theta_day) 
np.save("theta_update.npy",theta_update)
np.save("theta_update_sigma.npy",theta_update_sigma)

In [99]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# plt.rcParams.update(params)
plt.style.use('seaborn-darkgrid')
plt.rc('font',family='Times New Roman',size=24)
sns.set_style('ticks',{'xtick.direction':'in','ytick.direction':'in',
                       'xtick.major.size':8,'ytick.major.size':8,'xtick.minor.size':5,
                       'ytick.minor.size':5})
%matplotlib inline

In [105]:
df3 = pd.read_excel('strain.xlsx',index_col='time')
df3 =df3['2018-05-24':'2018-06-10']
rollowingmean2 = df3.rolling(window=45,center=False).mean()

In [106]:
pre_brace.columns

Index(['brace_orig', 'brace_after27', 'brace_after29', 'brace_after31',
       'brace_after02', 'brace_after04', 'brace_after06'],
      dtype='object')

In [105]:
sns.set_style('whitegrid')
import matplotlib.dates as mdate
from matplotlib.ticker import MultipleLocator, FormatStrFormatter
fig1 = plt.figure(figsize=(12,10))
ax1 = fig1.add_subplot(1,1,1)
# ax1.scatter(df3.index,df3.strain,c = 'k',label = 'Raw data',s = 30,alpha = 0.7)
ax1.scatter(rollowingmean2.index,rollowingmean2.strain,c = 'goldenrod',marker='s',s = 30,
            label = 'MovingAverage data',alpha = 0.6)
ax1.plot(pre_brace.index,pre_brace.brace_orig,'g-8',linewidth = 3,markersize = 10,label = 'Original Prediction')
ax1.plot(pre_brace.index,pre_brace.brace_after27,'--p',c = 'blue',linewidth = 3,markersize = 10,label = '1st Updated ')
ax1.plot(pre_brace.index,pre_brace.brace_after29, ':',c = 'red',linewidth = 5,markersize = 10,label = '2nd Updated ')
ax1.plot(pre_brace.index,pre_brace.brace_after31,'-.v',c = 'magenta',linewidth = 5,markersize = 10, label = '3rd Updated')
ax1.plot(pre_brace.index,pre_brace.brace_after02,'--^',c = 'cyan',linewidth = 5,markersize = 10, label = '4th Updated')
ax1.plot(pre_brace.index,pre_brace.brace_after04, ':+',c = 'darkred',linewidth = 5,markersize = 10,label = '5th Updated')
ax1.plot(pre_brace.index,pre_brace.brace_after06,marker='X',c = 'black',markersize = 10, label = '6th Updated')
#ax1.plot(pre2.index,pre2.Pre4,marker='*',c = 'deeppink',linewidth = 4,markersize = 10, label = 'Univariate 2nd Updated Prediction')
ax1.xaxis.set_major_formatter(mdate.DateFormatter('%m-%d'))
datetime0=pd.date_range('2018-05-24','2018-06-10',freq='1D')[0]
datetime1 = pd.date_range('2018-05-24','2018-06-10',freq='1D')[-1]
plt.xticks(pd.date_range('2018-05-25','2018-06-10',freq='2D'),rotation = 0)
plt.xlim(datetime0,datetime1)
plt.ylim(10,60)
plt.xlabel('Time')
plt.ylabel('Strain'+'$(\\epsilon)$')
yminorLocator = MultipleLocator(5)
ax1.yaxis.set_minor_locator(yminorLocator)
ax1.yaxis.grid(True, which='minor') 
ax1.xaxis.grid(True, which='major') 
ax1.legend(loc='best',frameon=True,edgecolor='k',fancybox=0,fontsize=17,
          handlelength=3,handleheight=2,borderpad=0.2,ncol= 2,framealpha = 1)
#plt.xticks(xticks,rotation = 0) 
# plt.savefig('strain.jpg',dpi=1000)

In [108]:
pre_tilt.columns

Index(['tilt_orig', 'tilt_after27', 'tilt_after29', 'tilt_after31',
       'tilt_after02', 'tilt_after04', 'tilt_after06'],
      dtype='object')

In [109]:
df7 = pd.read_excel('tilt2.xlsx',index_col='Time')
df8 = df7['2018-05-23':'2018-06-10']
df9 =df8.copy()
rollowingmean4 = df9.rolling(window=45,center=False).mean()

In [100]:
sns.set_style('whitegrid')
import matplotlib.dates as mdate
from matplotlib.ticker import MultipleLocator, FormatStrFormatter
fig1 = plt.figure(figsize=(12,10))
ax1 = fig1.add_subplot(1,1,1)
# ax1.scatter(df9.index,df9.Tilt,c = 'k',label = 'Raw data',s = 30,alpha = 0.7)
ax1.scatter(rollowingmean4.index,rollowingmean4.Tilt,c = 'goldenrod',marker='s',s = 30,label = 'MovingAverage data')
ax1.plot(pre_tilt.index,pre_tilt.tilt_orig,'g-8',linewidth = 5,markersize = 10,label = 'Original Prediction')
ax1.plot(pre_tilt.index,pre_tilt.tilt_after27,'--p',c = 'blue',linewidth = 5,markersize = 10,label = '1st Updated ')
ax1.plot(pre_tilt.index,pre_tilt.tilt_after29, ':',c = 'red',linewidth = 5,markersize = 10,label = '2nd Updated ')
ax1.plot(pre_tilt.index,pre_tilt.tilt_after31,'-.v',c = 'magenta',linewidth = 5,markersize = 10, label = '3rd Updated')
ax1.plot(pre_tilt.index,pre_tilt.tilt_after02,'--^',c = 'cyan',linewidth = 5,markersize = 10,label = '4th Updated')
ax1.plot(pre_tilt.index,pre_tilt.tilt_after04,  ':+',c = 'darkred',linewidth = 5,markersize = 10,label = '5th Updated')
ax1.plot(pre_tilt.index,pre_tilt.tilt_after06,marker='X',c = 'black',markersize = 10,  label = '6th Updated')
#ax1.plot(pre2.index,pre2.Pre4,marker='*',c = 'deeppink',markersize = 10, label = 'Single Variable 2nd Prediction')
ax1.xaxis.set_major_formatter(mdate.DateFormatter('%m-%d'))
datetime0=pd.date_range('2018-05-24','2018-06-10',freq='1D')[0]
datetime1 = pd.date_range('2018-05-24','2018-06-10',freq='1D')[-1]
plt.xticks(pd.date_range('2018-05-25','2018-06-10',freq='2D'),rotation = 0)
plt.xlim(datetime0,datetime1)
plt.ylim(-0.01,0.025)
plt.xlabel('Time')
plt.ylabel('Tilt(°)')
yminorLocator = MultipleLocator(0.005)
xminorLocator = MultipleLocator(1)
ax1.yaxis.set_minor_locator(yminorLocator)
ax1.xaxis.set_minor_locator(xminorLocator)
ax1.yaxis.grid(True, which='minor') 
ax1.xaxis.grid(True, which='minor') 
ax1.legend(loc='lower right',frameon=True,edgecolor='k',fancybox=0,fontsize=17,
          handlelength=3,handleheight=2,borderpad=0.2,ncol= 2)
#plt.xticks(xticks,rotation = 0) 
plt.savefig('tilt.jpg',dpi = 1000)

In [104]:
plt.rc('font',family='Times New Roman',size=20)
sns.set_style('whitegrid')
plt.figure(figsize=(15,15))
plt.plot(times[1000:],theta_day[1][1,1000:],'r-',label = '1st updated trace',alpha = 0.8)
plt.plot(times[1000:],theta_day[2][1,1000:],'g-',label = '2nd updated trace',alpha = 0.8)
plt.plot(times[1000:],theta_day[3][1,1000:],'b-',label = '3rd updated trace',alpha = 0.8)
plt.plot(times[1000:],theta_day[4][1,1000:],'y-',label = '4th updated trace',alpha = 0.8)
plt.plot(times[1000:],theta_day[5][1,1000:],'c-',label = '5th updated trace',alpha = 0.8)
plt.plot(times[1000:],theta_day[6][1,1000:],'m-',label = '6th updated trace',alpha = 0.8)
# def to_sci_notation(temp,position):
#     return '%1.0f'%(temp/10000) + '×'+'$10^4$'
# plt.gca().xaxis.set_major_formatter(FuncFormatter(to_sci_notation))
plt.legend(loc='best',edgecolor='k',frameon=True,fancybox=0,fontsize=20,
           handlelength=3,handleheight=2,borderpad=0.5)
plt.xlabel('Sample number')
plt.ylabel('$\\phi_4$(°)')
#plt.ylabel('$E_5-$'+'$_3-$'+'$_1$'+'(MPa)')
# plt.savefig('trace.jpg',dpi = 800)

In [46]:
plt.rc('font',family='Times New Roman',size=20)
sns.set_style('whitegrid')
plt.figure(figsize=(15,15))
plt.plot(times[1000:],theta_day[1][1,1000:],'r-',label = '1st updated trace',alpha = 0.8)
plt.plot(times[1000:],theta_day[2][1,1000:],'g-',label = '2nd updated trace',alpha = 0.8)
plt.plot(times[1000:],theta_day[3][1,1000:],'b-',label = '3rd updated trace',alpha = 0.8)
plt.plot(times[1000:],theta_day[4][1,1000:],'y-',label = '4th updated trace',alpha = 0.8)
plt.plot(times[1000:],theta_day[5][1,1000:],'c-',label = '5th updated trace',alpha = 0.8)
plt.plot(times[1000:],theta_day[6][1,1000:],'m-',label = '6th updated trace',alpha = 0.8)
# def to_sci_notation(temp,position):
#     return '%1.0f'%(temp/10000) + '×'+'$10^4$'
# plt.gca().xaxis.set_major_formatter(FuncFormatter(to_sci_notation))
plt.legend(loc='best',edgecolor='k',frameon=True,fancybox=0,fontsize=20,
           handlelength=3,handleheight=2,borderpad=0.5)
plt.xlabel('Sample number')
plt.ylabel('$\\phi_5-3-1$(°)')
#plt.ylabel('$E_5-$'+'$_3-$'+'$_1$'+'(MPa)')
# plt.savefig('trace.jpg',dpi = 800)

In [106]:
sns.set_style("darkgrid")
plt.figure(figsize=(12,10))
# sns.distplot(theta_day[0][1,1000:],bins=12,color = 'royalblue',label='Original',
#              hist_kws={ "linewidth": 2,'edgecolor':'white'})
sns.distplot(theta_day[1][1,1000:],bins=12,color = 'red',label='1st Updated', 
             hist_kws={"linewidth": 2,'edgecolor':'white'})
sns.distplot(theta_day[2][1,1000:],bins=12,color = 'g',label='2nd Updated', 
             hist_kws={"linewidth": 2,'edgecolor':'white'})
sns.distplot(theta_day[3][1,1000:],bins=12,color = 'b',label='3rd Updated', 
             hist_kws={"linewidth": 2,'edgecolor':'white'})
sns.distplot(theta_day[4][1,1000:],bins=12,color = 'y',label='4th Updated', 
             hist_kws={"linewidth": 2,'edgecolor':'white'})
sns.distplot(theta_day[5][1,1000:],bins=12,color = 'c',label='5th Updated', 
             hist_kws={"linewidth": 2,'edgecolor':'white'})
sns.distplot(theta_day[6][1,1000:],bins=12,color = 'm',label='6th Updated', 
             hist_kws={"linewidth": 2,'edgecolor':'white'})
plt.legend(loc='best',frameon=True,edgecolor='k',fancybox=0,fontsize=20,
          handlelength=3,handleheight=2,borderpad=0.5)
plt.xlabel('$\\phi_5-3-1$')
plt.ylabel('PDF')
#plt.ylabel('$E_5$'+'$_-$'+'$_3$'+'$_-$'+'$_1$'+'(MPa)')
# plt.savefig('hist.jpg',dpi = 800)

In [48]:

sns.set_style("darkgrid")
plt.figure(figsize=(12,10))
# sns.distplot(theta_day[0][1,1000:],bins=12,color = 'royalblue',label='Original',
#              hist_kws={ "linewidth": 2,'edgecolor':'white'})
sns.distplot(theta_day[1][2,1000:],bins=12,color = 'red',label='1st Updated', 
             hist_kws={"linewidth": 2,'edgecolor':'white'})
sns.distplot(theta_day[2][2,1000:],bins=12,color = 'g',label='2nd Updated', 
             hist_kws={"linewidth": 2,'edgecolor':'white'})
sns.distplot(theta_day[3][2,1000:],bins=12,color = 'b',label='3rd Updated', 
             hist_kws={"linewidth": 2,'edgecolor':'white'})
sns.distplot(theta_day[4][2,1000:],bins=12,color = 'y',label='4th Updated', 
             hist_kws={"linewidth": 2,'edgecolor':'white'})
sns.distplot(theta_day[5][2,1000:],bins=12,color = 'c',label='5th Updated', 
             hist_kws={"linewidth": 2,'edgecolor':'white'})
sns.distplot(theta_day[6][2,1000:],bins=12,color = 'm',label='6th Updated', 
             hist_kws={"linewidth": 2,'edgecolor':'white'})
plt.legend(loc='best',frameon=True,edgecolor='k',fancybox=0,fontsize=20,
          handlelength=3,handleheight=2,borderpad=0.5)
plt.xlabel('$E_2$')
plt.ylabel('PDF')
#plt.ylabel('$E_5$'+'$_-$'+'$_3$'+'$_-$'+'$_1$'+'(MPa)')
# plt.savefig('hist.jpg',dpi = 800)